.sider {
  top: 45px;
  position: fixed;
  height: 100%;
  width: 250px;
  z-index: 1;
}

.mainContentLayout {
  min-height: 100vh;
  background-color: white;
}

.header {
  z-index: 1;
  color: white;
  height: 49px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: start;
}

.menuTrigger {
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: color .3s;
  margin-left: -20px;
}

.content {
  color: black;
  background-color: white;
  /* from top; from right; from bottom; from left*/
  margin: 55px 10px 10px 90px;
  overflow: initial;
}

.footer {
  width: 100%;
  height: 30px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  color: white;
}

.searchBox {
  margin-left: 35px;
  margin-right: -50px;
}